<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean scope="prototype" class="demo1.controller.UserController" id="userController" >
		<constructor-arg ref="service1"></constructor-arg>
		<property name="url" value="http://yahoo.com"></property>
	</bean>
	<bean class="demo1.service.UserService" id="service1"></bean>
</beans>